.meal-form {
    display: flex;
    flex-direction: column;
}

.meal-form .field-set {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}

.meal-form input[type="text"] {
    border-radius: 5px;
    border: 1px solid #17202A;
    padding: 5px;
}

.meal-form .submit-btn {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #17202A;
    background-color: #D5D8DC;
    cursor: pointer;
    width: fit-content;
    align-self: flex-end;
}