.tag-list {
    display: flex;
    padding: 5px 0;
}

.tag-list .item {
    padding: 5px;
    margin-right: 5px;
    border-radius: 25px;
    cursor: pointer;
}

.tag-list .item.selected {
    opacity: 0.5;
}